/* Estilos para el modal */
.modal {    
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999; /* Asegura que el modal esté en la capa superior */
}

.modal-contenido {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    max-width: 400px; /* Limita el ancho del modal */
    width: 80%; /* Ajusta el ancho del modal */    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega sombra */
}

/* Estilos para el botón de cerrar */
.cerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
    color: #555;
}

/* Estilos para el formulario */
#formularioLogin {
    margin-top: 20px;
}

#formularioLogin label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

#formularioLogin input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#formularioLogin button, #abrirModalBtn {
    list-style: none;
    background-color: #4CAF50;
    color: white;
    padding: 5px 1vw;
    border: none;
    border-radius: 2vw;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}






